Character-LCD-over-I2C-master/examples/basicUsage/basicUsage/obj/
Character-LCD-over-I2C-master/examples/basicUsage/basicUsage/bin/
Character-LCD-over-I2C-master/examples/basicUsage/.vs/
Character-LCD-over-I2C-master/examples/keyboardInput/keyboardInput/obj/
Character-LCD-over-I2C-master/examples/keyboardInput/keyboardInput/bin/
Character-LCD-over-I2C-master/examples/keyboardInput/.vs/
MultiFuncBoardDemo/MultiFuncBoardDemo/MultiFuncBoardDemo/bin/
MultiFuncBoardDemo/MultiFuncBoardDemo/MultiFuncBoardDemo/obj/
MultiFuncBoardDemo/MultiFuncBoardDemo/.vs/
PCF8591_I2C_App/obj/
PCF8591_I2C_App/bin/
SPIAccelerometer/obj/
SPIAccelerometer/bin/
PCF8591_I2C_App/.vs/
SPIAccelerometer/.vs/Accelerometer/v15/Server/sqlite3/storage.ide-wal
SPIAccelerometer/.vs/Accelerometer/v15/Server/sqlite3/storage.ide-shm
SPIAccelerometer/.vs/
